.forget-section {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.811), rgba(0, 0, 0, 0.795)), url(../../assets/imgs/loginBg.jpg);
    background-position: center;
    background-size: cover;
}